@import url(http://weloveiconfonts.com/api/?family=zocial);

  /* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body, h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 200;
}

h2 {
    color: #7d97ad;
}

header {
    padding-top: 1.5em;
}

nav {
    background-image:
        linear-gradient(
            white, #CEECF5
        );
}

footer {
    padding-bottom: 1.5em;
}

a {
    color: black;
}

hr {
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom-width: 0.1em;
    border-color: #7d97ad;
}

.logo {
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    background: url(images/udacity_logo.png);
    background-image: url(images/udacity_logo_min.svg);
}

.bio {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.social {
    padding-bottom: 1em;
}

.banner {
    height: 40vw;
    background: url(images/mountains.png);
    background-image: url(images/mountains_min.svg);
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}

.link-hover:hover .icon-hover {
    fill: #0645AD;
}

@media screen and (max-width: 639px) {
    .project {
        padding-bottom: 1em;
    }
    .project:last-of-type {
        padding-bottom: 0em;
    }    
    .project-desc {
        padding-top: 0.5em;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .project-pic {

    }
    .project-desc {

    }
    .project {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .projects {
        padding-top: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        height: 30vw;
        background: url(images/mountains_wide_2x.png);
        background-image: url(images/mountains_min.svg);
        background-size: cover;
    }
    .project {
        padding-bottom: 5em;
    }
}

#projects {
    padding-top: 0.5em;
}