@import url(http://weloveiconfonts.com/api/?family=zocial);

  /*implementin zocial font for social media icons*/
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

h1 {
    font-weight: 200;
    line-height: 0.8;
}

header {
    padding-top: 2rem;
}

nav {
    background-image:
        linear-gradient(
            white, #CEECF5
        );
}

footer {
    padding-bottom: 2rem;
}

.logo {
    width: 8vw;
    height: 8vw;
    max-width: 75px;
    max-height: 75px;
    background: url(images/udacity_logo.png);
    background-image: url(images/udacity_logo_min.svg);
}

.bio {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.banner {
    height: 40vw;
    background: url(images/mountains.png);
    background-image: url(images/mountains_min.svg);
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}

.link-hover:hover .icon-hover {
    fill: #02b3e4;
    /*change the color of svg path in icon on mouse hover*/
}

@media screen and (max-width: 639px) {
    .project {
        padding-bottom: 1em;
    }
    .project:last-of-type {
        padding-bottom: 0em;
    }    
    .project-desc {
        padding-top: 0.5em;
    }
    .full-desc {
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .project-desc {
        text-align: left;
    }
    .project {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .full-desc {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    footer {
        font-size: 16px;
    }
    .banner {
        height: 30vw;
        background: url(images/mountains_wide_2x.png);
        background-image: url(images/mountains_min.svg);
        background-size: cover;
    }
    .project {
        padding-bottom: 5rem;
    }
    .project:last-of-type {
        padding-bottom: 2rem;
    }        
}
